body{
	background: #171717; 
	font-size: 18px;
	
}
.postcard{
	background: white; 
	width: 600px; height: 350px; 
	margin:auto;
	position: absolute; top: 50%; left: 50%; 
	transform: translate(-50%,-50%);
	padding: 15px; 
	font-family: 'Handlee', cursive; 
}
.postcard-header {
	overflow: hidden;
}
.postcard-header img{
	max-width: 60px; 
	float: right;
}
.postcard-body {
	overflow: hidden;
}
input{ 
	font-size: 18px; 
	font-family: 'Handlee', cursive; 
	border-color: #BBBEC2;
	border: 1px;
}
.postcard h1{
	margin: 0;
}
.left-part{
	float: left; 
	width: 50%;
}
.right-part{
	float: right; 
	width: 50%;
}
.right-part input{
	display:block;
}
h1{
	font-size: 35px;
}
.postcard-footer{
	padding: 10px; 
	text-align:center; 
}
.postcard-footer input[type=submit]{
	border: none;
	border-bottom: 1px solid gray; 
	background-color:#14CDCD;
	font-family: 'Handlee', cursive; 
}
.postcard-body input[type=text]{
	border:1px; border-bottom: 1px solid #171717; 
	width: 240px; 
	margin: 10px; 
	padding: 5px;
}
